
body 
{
    font-family: Tahoma;

}


.leftButtomAlignCell{
    text-align:left;
    vertical-align:bottom;    
}
    
.rightButtomAlignCell{
    text-align:right;
    vertical-align:bottom;    
}
    
.centerCell{
    text-align:center;
}
    
 
.centerDiv 
{
    
}
    
.okCancelButton{
    float:right;
}
    
.tableLayoutLeftSide{
    text-align:right;    
}
    
.tableLayoutRightSide{
    text-align:left;    
}

.leftSide{
    float:left;    
}
    
.rightSide{
    float:right;
}
    
.upAndLeft{
    text-align:left;
    vertical-align:top;
}


/*================================*/
/*filter.ascx*/
#editFilterBlock
{
    clear:left;    
    }
    
/*filter.ascx*/
/*===========================*/




/*=================================*/
/*table.aspx*/

#projectsTable
{
    float:left;
    clear:left;
    width:90%;   
    }
    
#tableHeader
{
    text-align:center;
    }
    

#editTableBlock
{
    clear:left;
    }
    
#labelTableBlock
{
    clear:left;
    }
    
#editForTableDefinitionWrapper
{
    width:90%;
    }
    
#editForTableDefinition
{
    width:100%;
    height:300px;
    }
#projectsEverything
{
    margin-left:30px;
    }

/*table.aspx*/
/*=================================*/
#tableSettingButton
{
    border-color: white;
    margin-left: -1px;
    position: absolute;
    opacity: 0.2;
}
/*================================*/
/*footer.ascx*/
#visibleFooter
{
    width:90%;  
    }
#submitUpload
{
    float:left;
    }
    
#errorUploadMessage
{
    clear:left;
    font-family:Arial;
    font-style:italic;    
    }

    
/*footer.ascx*/
/*===========================*/

/*================================*/
/*AddProperties.aspx*/
#AddPropertiesDiv {
    text-align: center;
    padding: 50px;
    
}

#forProjectProperties {
    float: left;
    
}

#forOtherProperties {
    float: right;
}

#forErrorMessage {
    clear: both;
    padding-top: 5px;
}

#forCreatePropertyButton {
    float: left;
}

#forGoToProjectButton {
    float: right;
}
/*AddProperties.aspx*/
/*===========================*/




/*Index.aspx*/
/*===========================*/


#properties 
{
}


#ProjectWithProperties
        {
            font-family: Times New Roman;
            margin-left: 20px;
        }
        .header
        {
            font-family: Calibri;
            font-size: xx-large;
        }
        .textbox
        {
            font-family: Times New Roman;
            height: 40px;
            width: 100px;
            padding: 5px;
            border: solid 1px black;
            float: left;
        }
        .btn-slide
        {
            float: left;
            visibility: hidden;
        }
        .section
        {
            margin: 20px;
        }
        .history 
        {
            font-family: cursive;
            color: greenyellow;  
        }
        .propertyString 
        {
            background-color: lightgray;
            cursor: pointer;
        }
        
        #historyAndDescription
        {
            position:relative;
            margin-top: 20px;
        }
        
/*/////////////////////////////////////*/
