<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ProjectPropertiesEntities" connectionString="metadata=res://*/ProjectPropertiesDB.csdl|res://*/ProjectPropertiesDB.ssdl|res://*/ProjectPropertiesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=D:\work\Demidov\ProjectWatcher1\ProjectWatcher\DAL\ProjectProperties.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <DAL.Properties.Settings>
      <setting name="FirstProperty" serializeAs="String">
        <value>name</value>
      </setting>
    </DAL.Properties.Settings>
  </applicationSettings>
</configuration>